@charset "UTF-8";
/* CSS Document */

ul {
	list-style-type: none;
	
}

li {
	float: left;
}

a:link {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: red;
	background-color: yellow;
}

a:visited {
	color: white;
}

a:hover {
	color: blue;
}

a:active {
	color: green;
}

tr {
	padding: 20px;
	background-color: blue;
}



