@charset "UTF-8";
/* CSS Document */

ul {
	margin: 0;
	list-style-type: none;
	
}

li {
	float: left;
}

a:link {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	
}

a:visited {
	color: white;
}

a:hover {
	color: blue;
}

a:active {
	color: green;
}



h1 {
	clear: both;
	font-family: 'Nunito Sans', sans-serif;
	font-style: 400;
	padding: none;
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-style: 300;
	padding: none;
}

th:nth-child(1) {
	text-align: left;
	padding: 0 20px;
}


td {
	padding: 4px 30px;
	border-left: 5px solid #CECBCB;
	border-right: 5px solid #CECBCB;
	
}

tr {
	vertical-align: bottom;
	
}


	tr:nth-child(2n) {
	background-color: #EEED01;
}

tr:nth-child(2) {
	border-top: 5px solid #CECBCB;
}



span { 
	font-style: italic;
	font-weight: 200;
}


table {
	border-collapse: collapse;
	border-bottom: 5px solid #CECBCB;
}



























