@charset "UTF-8";
/* CSS Document */

ul {
	margin: 0;
	list-style-type: none;
	
}

li {
	float: left;
}

a:link {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
    font-family: 'Nunito Sans', sans-serif;
	font-style: 300;
	
}


a:hover {
	color: blue;
}

a:active {
	color: green;
}



h1 {
	clear: both;
	font-family: 'Nunito Sans', sans-serif;
	font-style: 400;
	padding: none;
    color: palevioletred;
    text-align: center;
}

h2 {
	font-family: 'Nunito Sans', sans-serif;
	font-style: 300;
	padding: none;
}

th:nth-child(1) {
	text-align: left;
	padding: 0 20px;
}


td {
	padding: 4px 30px;
	border-left: 5px solid #CECBCB;
	border-right: 5px solid #CECBCB;
	
}

tr {
	vertical-align: bottom;
	
}


	tr:nth-child(2n) {
	background-color: #EEED01;
}

tr:nth-child(2) {
	border-top: 5px solid #CECBCB;
}



span { 
	font-style: italic;
	font-weight: 200;
}


table {
	border-collapse: collapse;
	border-bottom: 5px solid #CECBCB;
}




p {font-family: 'Nunito Sans', sans-serif;
    font-style: 300;
    font-size:  12pt;
     
}



legend {font-family: 'Nunito Sans', sans-serif;
    font-style: 300;
    font-size:  14pt;
    color: palevioletred;
     
}



input {
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5 px;
    background-color: whitesmoke;
}




input#submit {
    text-decoration-color: black;
    color: black;
    text-shadow: 0px 1px 1px palevioletred;
    border-bottom: 2px solid #b3b4b5;
    background-color: black;
    box-shadow: 10px;
   
    
}




fieldset {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 30px;
    background-color: pink;
      
}


legend {
    background-color: whitesmoke;
    border: 3px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
    
}



    
    